<div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-content">
          <h1 class="center-align">
            <span class="indigo-text text-darken-1"><i class="fa fa-lock"></i> Aplicativo<br></span> Login
          </h1>
          <form (submit)="onSubmit()">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" [(ngModel)]="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="password" required>
              </div>
              <input type="submit" value="Login" class="btn btn-primary btn-block">
          </form>
        </div>
      </div>
    </div>
  </div>