<ul class="collection">
    <li class="collection-item"><strong>Nome: </strong>{{funcionario.nome}}</li>
    <li class="collection-item"><strong>Matricula: </strong>{{funcionario.matricula}}</li>
    <li class="collection-item"><strong>CPF: </strong>{{funcionario.cpf}}</li>
    <li class="collection-item"><strong>Email: </strong>{{funcionario.email}}</li>
    <li class="collection-item"><strong>Cargo: </strong>{{funcionario.cargo}}</li>
</ul>
<ul class="collection">
        <li class="collection-item"><strong>Logradouro: </strong>{{funcionario.endereco.logradouro}}, {{funcionario.endereco.numero}}, {{funcionario.endereco.apto}}</li>
        <li class="collection-item"><strong>Bairro: </strong>{{funcionario.endereco.bairro}}</li>
        <li class="collection-item"><strong>Cidade: </strong>{{funcionario.endereco.cidade}}</li>
        <li class="collection-item"><strong>Estado: </strong>{{funcionario.endereco.estado}}</li>
    </ul>