<div class="card">
  <div class="card-content">
    <form (submit)="searchFuncionario()" class="col s6">
      <div class="row">
        <div class="input-field">
          <input placeholder="Pesquisar por nome ou número de matrícula" type="text" name="searchFuncionario" [(ngModel)]="search">
        </div>
      </div>
      <input type="submit" value="Submit" class="btn">
    </form>
  </div>
</div>

<div class="card" *ngIf="funcionario?.length > 0">
  <div class="card-content" *ngFor="let funcionario of funcionario">
    <strong>Nome: </strong><a [routerLink]="['/funcionario', funcionario.id]">{{funcionario.nome}}</a>
  </div>
</div>

<div *ngIf="funcionario?.length === 0">
    <hr>
    <h5>Nenhum funcionário encontrado com esses dados.</h5>
</div>
